altgraph==0.17.5
et_xmlfile==2.0.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.0
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
python-dateutil==2.9.0.post0
setuptools==82.0.0
six==1.17.0
xlrd==2.0.2
